In [94]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score, train_test_split
import time
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from tensorflow.keras.metrics import MeanSquaredError

In [95]:

df = pd.read_excel(r'D:/paper/qb/data/lab_data.xlsx')
df.head()

,River,W,S,Q,U,H,D50,D84,R,qs
0,Bogardi1,0.300,0.0104,0.02747,1.06,0.087,0.0068,0.00816,0.0721,24.1
1,Bogardi1,0.300,0.0141,0.01566,0.92,0.057,0.0068,0.00816,0.0504,6.1
2,Bogardi1,0.823,0.0143,0.02288,0.69,0.040,0.0068,0.00816,0.0389,0.2
3,Bogardi1,0.823,0.0145,0.04978,0.82,0.074,0.0068,0.00816,0.0709,21.9
4,Bogardi1,0.823,0.0153,0.03582,0.78,0.056,0.0068,0.00816,0.0535,1.8

In [96]:
X=df.loc[20:200, [ 'H','S','Q','D50','D84','R']].values
y=df.loc[20:200, [ 'qs']].values

In [97]:
from sklearn.preprocessing import MinMaxScaler
scaler1 = MinMaxScaler().fit(X)
X1 = scaler1.transform(X)
scaler2 = MinMaxScaler().fit(y)
y1 = scaler2.transform(y)

In [98]:

X_train, X_test, y_train, y_test = train_test_split(X1, y1, test_size=0.2, random_state=0)
y_train=y_train.ravel()
y_test=y_test.ravel()

In [99]:
input_dim = X.shape[1]

In [100]:
def objective(X):
    x1,x2,x3=X
    model = Sequential()
    model.add(Dense(units=x1, activation='relu', input_dim=input_dim))
    model.add(Dense(units=x2, activation='relu'))
    model.add(Dense(units=x3, activation='relu'))
    model.add(Dense(units=1, activation='linear'))
    model.compile(loss='mean_squared_error', optimizer='adam', metrics=[MeanSquaredError()])
    model.fit(X_train, y_train, epochs=50, batch_size=20, verbose=0)
    mse,mse = model.evaluate(X_train, y_train,batch_size=20,verbose=0)
    return mse

In [101]:
import torch
from sko.GA import GA
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
ga = GA(func=objective, n_dim=3, size_pop=10, max_iter=60, lb=[6, 6, 6], ub=[64,64,64],prob_mut=0.01, precision=1)
ga.to(device=device)
best_x, best_y = ga.run()
print('best_x:', best_x, '\n', 'best_y:', best_y)

best_x: [54. 48. 64.]
 best_y: [0.00368914]